@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

/* HEADER */

.header {
	color: white;
	background: white;
	width: 100%;
	height: 64px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.header__container {
	background: white;
	max-width: 750px;
	margin: 0 auto;
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
}

.header__container a {
	margin: auto 0;
}

@media (max-width: 360px) {
	.header__container {
		width: 350px;
	}
}

/* STORIES */

.stories {
	background: #FAFAFA;
}

.stories__container {
	padding: 16px 0;
	max-width: 750px;
	margin: 0 auto;
}

.stories__container a img {
	height: 72px;
	border-radius: 50%;
	padding: 0 10px;
}

.stories__item {
	background: linear-gradient(45deg, rgba(245, 160, 77, 1) 0%, rgba(160, 15, 139, 1) 100%);
}

/* POSTS */

.feed {
	background: #FAFAFA;
}

.feed__container {
	max-width: 750px;
	margin: 0 auto;
}

.card {
	border-radius: 10px;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.1);
	overflow: hidden;
	margin-bottom:  30px;
}

.card__header {
	background: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
}

.card__user {
	display: flex;
	align-items: center;
}

.card__user a {
	margin-right: 10px;
}

.card__user a img {
	height: 40px;
	border-radius: 50%;
}

.card__username {
	font-size: 0.7em;
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.card__image{
	width: 100%;
	height: auto;
	overflow: hidden;
}

.card__image img {
	width: 100%;
}

.card__interation {
	display: flex;
	justify-content: space-between;
	margin: 10px;
}

.card__interation a {
	color: black;
	font-size: 1.5em;
}

.card__interation div a {
	margin-right: 17px;
	color: black;
	font-size: 1.5em;
}

.card__likes {
	background: rgba(235, 231, 231, 0.863);
	display: flex;
	align-items: center;
	padding: 10px;
}

.card__likes div {
	margin-right: 10px;
}

.card__likes span {
	font-size: 0.85em
}

.card__likes span a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.card__likes div a img {
	height: 30px;
	border-radius: 50%;
}